name: Deploy

on:
  push:
    branches:
      - main
    paths:
      - 'workspaces/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    env:
      PUBLIC_HYGRAPH_URL: ${{ vars.HYGRAPH_URL }}
      PUBLIC_HYGRAPH_TOKEN: ${{ vars.HYGRAPH_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.18.1'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn

      - name: Build
        run: yarn workspace @nevmstas/website build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./workspaces/website/build